<?php

return array(
    'detail_fileconversion' => array(
        'client' => array(
//            'base_url' => 'http://dws-fileconversion.public.web01.detailnet.me/api/',
            'dws_app_id' => 'change_me', // Only required for dws-fileconversion in production
            'dws_app_key' => 'change_me', // Only required for dws-fileconversion in production
        ),
        'job_builder' => array(
            'default_options' => array(),
        ),
        'task_processor' => array(
            'adapters' => array(
                'blitline' => array(
                    'options' => array(
                    ),
                    // Function presets stored by action name
                    'functions' => array(
                        'thumbnail' => array(
                            'function' => 'script',
                            'params' => array(
                                'files' => array(
                                    // The script
                                    'https://raw.githubusercontent.com/detailnet/imagemagick-scripts/master/convert_image.sh',
                                    // The target color profile for the script
                                    'https://raw.githubusercontent.com/detailnet/imagemagick-scripts/master/profiles/sRGB.icm',
                                ),
                            ),
                        ),
                    ),
                    'job_creator' => 'Job\Creator\Class',
                ),
                'internal' => array(
                    'options' => array(
                    ),
                    'job_creator' => 'Job\Creator\Class',
                ),
            ),
            'pause_on_incident' => '5 minutes',
        ),
    ),
);
