<?php

return [
    'detail_fileconversion' => [
        'client' => [
//            'base_url' => 'http://dws-fileconversion.public.web01.detailnet.me/api/',
            'dws_app_id' => 'change_me', // Only required for dws-fileconversion in production
            'dws_app_key' => 'change_me', // Only required for dws-fileconversion in production
        ],
        'job_builder' => [
            'default_options' => [],
        ],
        'task_processor' => [
            'adapters' => [
                'blitline' => [
                    'options' => [
                    ],
                    'job_creation' => [
                        'creator' => 'Job/Provider/Class',
                        // Function presets stored by action name
                        'functions' => [
                            'your-action-name' => [
                                'function' => 'Detail\FileConversion\Processing\Adapter\Blitline\Func\ScriptFunction',
                                'options' => [
                                    'files' => [
                                        // The script
                                        'http://url.of/your-script.sh',
                                        // The target color profile for the script
                                        'https://raw.githubusercontent.com/detailnet/imagemagick-scripts/master/profiles/sRGB.icm',
                                    ],
                                    // See:
                                    // - http://www.blitline.com/docs/scripts
                                    //   For usage of the script function
                                    // - https://github.com/detailnet/imagemagick-scripts
                                    //   For usage of the conversion script
                                    'executable' => 'your-script.sh',
                                    // Key is the option name; order is relevant for building the command
                                    'executable_options' => [
                                        // Input file
                                        'input_file' => [
                                            'argument' => 'i',
                                            'type' => 'value',
                                            'value' => 'input.png',
                                        ],
                                        // Output file
                                        'output_file' => [
                                            'argument' => 'o',
                                            'type' => 'value',
                                            'value' => 'output.png',
                                        ],
                                    ],
                                ],
                            ],
                        ],
                    ],
                ],
                'internal' => [
                    'options' => [
                    ],
                    'job_creation' => [
                        'creator' => 'Job/Provider/Class',
                    ],
                ],
            ],
            'pause_on_incident' => '5 minutes',
        ],
    ],
];
